* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(125deg, #123341, #000000);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 600px;
    background: #96c7ca;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.todo-app h1 {
    color: #07152d;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2:hover {
    color: #278ab4;
    cursor: pointer;
    transition: color 0.3s;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.todo-app h2 img:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
    cursor: pointer;
    margin-left: 10px;
    transform: scale(1.1);
    transition: transform 0.3s;
    box-shadow: 10px rgba(0, 0, 0, 0.2);
    filter: brightness(1.2);
}

.ROW {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    background: #97add3;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding-left: 20px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    background: #013146;
    padding: 16px 50px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

ul li {
    list-style-type: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url(download.png);
}

ul li.check {
    color: #555;
    text-decoration: line-through;
}

ul li.check::before {
    background-image: url(download\ \(1\).jpg);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #1a1616;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

ul li span:hover {
    cursor: pointer;
    color: #013146;
    background-color: #07152d;
}

.headings {
    background: rgb(93, 159, 192);
    font-size: 30px;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.headings .button-like {
    color: hsl(0, 39%, 5%);
    text-align: left;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.headings .PENDING {
    color: hsl(0, 39%, 5%);
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.headings .COMPLETED {
    color: hsl(0, 39%, 5%);
    text-align: right;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.headings .button-like:hover {
    background: rgb(4, 37, 61);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.headings .PENDING:hover {
    background: rgb(4, 37, 61);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.headings .COMPLETED:hover {
    background: rgb(4, 37, 61);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}